body {
  background-color: black;
  color: yellow;
  font-family: Arial;
}

h1 {
  color: yellow;
  text-align: center;
}

#announcement {
  border: 3px solid white;
  border-radius: 20%;
  height: 30px;
  margin: auto;
  width: 230px;
  text-align: center;
  background-color: green;
  font-size: 20px;
}

.board{
  height: 400px;
  width: 400px;
  margin: auto;
}


div div:hover {
	background-color: rgba(23,156,33,0.5);
}

#reset {
  margin:auto;
  border: 3px solid blue;
  text-align: center;
  background-color: red;
  border-radius: 30%;
  width: 100px;
}

.r1c1 {
  // background-color: green;
  height:32%;
  width:32%;
  display: inline-block;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  float: left;
}


.r1c2 {;
  // background-color: green;
  height:32%;
  width:32%;
  display: inline-block;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  float: left;
}

.r1c3 {;
  // background-color: green;
  height:32%;
  width:32%;
  display: inline-block;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  float: left;

}

.r2c1 {;
  // background-color: blue;
  height:32%;
  width:32%;
  display: inline-block;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  float: left;
}

.r2c2 {;
  // background-color: blue;
  height:32%;
  width:32%;
  display: inline-block;
  border: 3px solid white;
  float: left;
}

.r2c3{
  // background-color: blue;
  height:32%;
  width:32%;
  display: inline-block;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  float: left;
}

.r3c1 {
  // background-color: red;
  height:32%;
  width:32%;
  display: inline-block;
  border-right: 3px solid white;
  border-top: 3px solid white;
  float: left;
}

.r3c2 {
  // background-color: red;
  height:32%;
  width:32%;
  display: inline-block;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  float: left;
}

.r3c3 {
  // background-color: red;
  height:32%;
  width:32%;
  display: inline-block;
  border-left: 3px solid white;
  border-top: 3px solid white;
  float: left;
}
img {
  height: 100%;
  width: 100%;
}
#winner {
   width: 150px;
   height: 150px;
   margin: auto;
  text-align: center;
  font-size: 20px;


}
#enterGame{
    margin: auto;
    width: 600px;
    border: 3px solid blue;
    background-color: green;
    text-align: center;
    padding: 0px;
}

table {
  height: 100px;
  width: 200px;
  font-size: 18px;
  text-align: center;

}

#gameHistory {
  float: left;
  width: 200px;
  border: 3px solid blue;
  text-align: center;
  background-color: red;
  border-radius: 10%;
}
